.main__container {
  overflow: scroll;
  scrollbar-width: none;
  min-height: 90vh;
}

.main__container::-webkit-scrollbar {
  display: none;
}

.family__groups {
  border: 1px solid red;
}

.family__children {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  gap: 12px;
}

.family__nested {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  gap: 12px;
}

.family__members {
  display: flex;
  align-items: center;
  background-color: lightcoral;
  color: white;
  width: 260px;
  height: 80px;
  padding: 16px;
  position: relative;
}

.family__members__avatar {
  width: 50px;
  height: 50px;
  background-color: #666;
  border-radius: 25px;
}

.family__members__names {
  padding: 8px;
}

div.family__members__button {
  position: absolute;
  top: 0;
  right: 6px;
  outline: none;
}

div.family__members__button > Dropdown.Item {
  z-index: 2;
}

#dropdown-basic-button {
  color: #666;
  font-size: 20px;
}

.modal__body {
  display: flex;
}

.modal__body__buttons {
  padding: 10px;
}
