.memberchildren-groups:nth-child(1) > .memberchildren-children {
  border: 2px solid yellow;
}

/* .memberchildren-children:nth-child(1) {
  border: 2px solid red;
  display: grid;
  grid-auto-flow: column;
} */

/* .memberchildren-groups:nth-child(1n + 2) {
  border: 2px solid white;
  gap: 20px;
} */

.memberchildren-each {
  display: flex;
  align-items: center;
  background-color: lightcoral;
  color: white;
  width: 360px;
  height: 100px;
  padding: 16px;
}

.memberchildren-avatar {
  width: 60px;
  height: 60px;
  background-color: #666;
  border-radius: 30px;
}

.memberchildren-names {
  padding: 8px;
}

.memberchildren-button-container {
  position: relative;
}

.memberchildren-button {
  position: absolute;
  bottom: 68px;
  left: 266px;
}

/* .memberchildren-each:first-child {
  color: black;
  background-color: white;
} */
