.member__container {
  overflow: scroll;
  min-height: 90vh;
  padding: 24px;
  color: rgb(242, 244, 243);
}

.member__container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}
.member__container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(141, 137, 137, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.form__container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__container p {
  font-size: 12px;
}

.form {
  background: linear-gradient(
    to right bottom,
    rgba(242, 244, 243, 0.65),
    rgba(240, 238, 241, 0.35)
  );
  border: 1px solid rgb(100, 99, 99);
  box-shadow: 4px 6px 3px #888;
  padding: 20px;
  width: 260px;
  height: fit-content;
  color: rgb(242, 244, 243);
}

.form__container__initial Button {
  width: 100%;
}

.family__container {
  min-width: fit-content;
  padding: 72px 10px;
}

.family__groups {
  border: 1px solid rgb(242, 244, 243);
  border-radius: 30px;
  padding: 26px;
}

.family__children {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  gap: 12px;
}

.family__nested {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  gap: 12px;
}

.family__members {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right bottom,
    rgba(242, 244, 243, 0.95),
    rgba(240, 238, 241, 0.85)
  );
  border: 1px solid rgb(100, 99, 99);
  box-shadow: 2px 1px 3px #888;
  color: rgb(78, 78, 78);
  width: 260px;
  height: 80px;
  padding: 16px;
  position: relative;
}

.member__picture {
  background-image: url("../assets/images/man.jpg");
  background-position: center;
  background-size: 50px 54px;
  width: 54px;
  height: 54px;
  background-color: #666;
  border-radius: 26px;
}

.family__members__details {
  padding: 6px;
}

p.family__members__birthday {
  font-size: 14px;
  color: rgb(163, 162, 162);
}

div.family__members__button {
  position: absolute;
  bottom: 0;
  right: 72px;
  outline: none;
}

#dropdown-basic-button {
  color: #666;
  font-size: 20px;
}

.modal__body {
  display: flex;
}

.modal__body__buttons {
  padding: 10px;
}

.navbar {
  background-color: #fff;
  height: 72px;
}

.navbar__title {
  font-weight: 700;
}

.svg_path_container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  place-content: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.svg_path {
  width: 56%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
